node_modules/

# Output
.output
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*

# Playwright
test-results

# Paraglide
src/lib/paraglide
project.inlang/cache/

# Storybook
*storybook.log
storybook-static
